<header>
  <nav>
    <ul>
      <li class="page-link">
        <a href=""><button mat-flat-button>Movies</button></a>
        <a href=""><button mat-flat-button>Food</button></a>
      </li>
      <li class="page-link"><a href="">Logo</a></li>
      <li class="page-link">
        <a href="">
          <button mat-flat-button>
            <mat-icon
              class="cart-icon"
              aria-hidden="true"
              aria-label="shopping_cart"
              fontIcon="shopping_cart"
            ></mat-icon>
          </button>
        </a>
      </li>
    </ul>
  </nav>
</header>
